*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color:aliceblue;
}
html,body{
    height: 100%;
    width:100%;
}
#main{
    height:100%;
    width:100%;
    background-color: white;
}
#nav{
    height:100px;
    width:100%;
    background-color: rgb(39, 29, 104);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding:0 30px;
}
#nav img{
    height: 80px;
}
#content{
    height: calc(100% - 100px);
    width: 100%;
    /*background-color: aquamarine;*/
    display: flex;
}
#left{
    width:30%;
    height: 100%;
    /*background-color: brown;*/
    padding: 130px 30px;
}
/*#rigth{
    width:65%;
    height: 100%;
    /*background-color: brown;
}*/
#center{
    width:70%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-x: hidden;
    overflow-y: hidden;
    font-family: sans-serif;
        /*body*/
}
a{
    text-decoration: none;
}
input{
    display: none;
}

#left h2{
    font-size: 45px;
    color:black;
}
#left h5{
    padding: 20px 8px;
    color:black;
    font-size: 15px;
    font-weight: 200;
    text-align: justify;
}
.container{
    width:100%;
    height:100%;
    max-width: 600px;
    max-height: 600px;
    display: flex;
    justify-content:center ;
    align-items: center;
    transform-style: preserve-3d;
    flex-direction: column;
    margin-bottom: 100px;

}
.cards{
    margin-top: 120px;
    position: relative;
    height: 500px;
    width: 400px;
    margin-bottom: 20px;
    perspective: 1000px;
    transform-style: preserve-3d;
    align-items: center;
}
.cards label{
    position: absolute;
    width: 430px;
    left:0;
    right:0;
    margin:auto;
    cursor: pointer;
    transition: transform 0.55s ease;
}
.cards .card{
    position: relative;
    height: 100%;
    background-color: white;
    border-radius: 10px;
    padding: 30px 35px;

}
.cards .image{
    display: flex;
    justify-content: space-between;
}
.cards .image .dots{
    text-align: center;

}

.dots div{
    width: 10px;
    height: 10px;
    border-radius: 50px;
    margin-bottom: 10px;
}

.dots div:nth-child(1){
    background-color: var(--current-color1);
}
.dots div:nth-child(2){
    background-color: #5b85f9;
}
.dots div:nth-child(1){
    background-color: #000;
}

.cards .infos{
    display:block;
    /* text-align: end; */
    /* padding-top: 60px; */
}

.card .infos .spam{
    display:block;
}

.infos .name{
    /* letter-spacing: 8px; */
    font-size: 30px;
    color: var(--current-color1);
    /*letter-spacing: 8px;*/
    /* margin-bottom: 20px; */
    /* padding-left: 25%; */
    transition: all .6s ease;

}

.card .lorem{
    font-size: 15.5px;
    color: black;
    /* letter-spacing: 3px; */
}

.cards .action{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;

}

.actions{
    font-size: 24px;
    transition: all .7s ease;
    color: var(--current-color2);
}

a{
    color: #000;
}
input[type="radio"]:not(:checked) + label {
    filter:blur(10px);
  }

.link{
    text-decoration: underline;
}
.mobiledis{
    display:none;
}


#s1:checked ~ .cards #slider4,
#s2:checked ~ .cards #slider5,
#s3:checked ~ .cards #slider1,
#s4:checked ~ .cards #slider2,
#s5:checked ~ .cards #slider3 {

    box-shadow: 0 15px 30px rgba(0, 0, 0 ,45%);
    transform: translate3d(-70%, 0, -220px);
    --current-color1: rgb(57, 57, 178);
    --current-color2: #404457;
    filter:blur(2px);
    
}

#s1:checked ~ .cards #slider5,
#s2:checked ~ .cards #slider1,
#s3:checked ~ .cards #slider2,
#s4:checked ~ .cards #slider3,
#s5:checked ~ .cards #slider4{

    box-shadow: 0 20px 40px rgba(0, 0, 0, 45%);
    transform: translate3d(-35%, 0, -120px);
    --current-color1: rgb(57, 57, 178);
    --current-color2: #404457;
    filter:blur(2px);
}

#s1:checked ~ .cards #slider1,
#s2:checked ~ .cards #slider2,
#s3:checked ~ .cards #slider3,
#s4:checked ~ .cards #slider4,
#s5:checked ~ .cards #slider5{
    box-shadow: 0 25px 50px rgba(0, 0, 0 ,50%);
    transform: translate3d(0 0 0);
    --current-color1: #fad00c;
    --current-color2: #404457;
}

#s1:checked ~ .cards #slider2,
#s2:checked ~ .cards #slider3,
#s3:checked ~ .cards #slider4,
#s4:checked ~ .cards #slider5,
#s5:checked ~ .cards #slider1{
    box-shadow: 0 20px 40px rgba(0, 0, 0 ,45%);
    transform: translate3d(35%, 0, -120px);
    --current-color1:  rgb(57, 57, 178);
    --current-color2: #404457;
    filter:blur(2px);
}

#s1:checked ~ .cards #slider3,
#s2:checked ~ .cards #slider4,
#s3:checked ~ .cards #slider5,
#s4:checked ~ .cards #slider1,
#s5:checked ~ .cards #slider2 {

    box-shadow: 0 15px 30px rgba(0, 0, 0 ,45%);
    transform: translate3d(70%, 0, -220px);
    --current-color1: rgb(57, 57, 178);
    --current-color2: #404457;
    filter:blur(2px);
}
pre{
    color: #000;
}
@media screen and (max-width:768px) {
    #content{
        flex-direction: column;
        height:unset;
    }
    #left{
        width:100%;
        padding: 50px;
    }
    #nav{
        display: none;
    }
    #center{
        display:none;

    }
    .mobiledis{
        display:flex;
        flex-direction: column;
        padding: 40px;
        gap:30px;
    }
    .infos{
        color: #5b85f9;
    }
    .card{
        border: 1px solid silver;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        padding: 35px 25px;
        border-radius: 10px;
    }
    .dots{
        display: flex;
        flex-direction: row;
        gap: 5px;
    }

}